.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  grid-gap: 10px 10px;
  padding: 25px;
}
.card {
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%), 0 6px 15px 0 rgb(0 0 0 / 10%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card-img img {
  height: 117px;
}
.card-title {
  display: flex;
  justify-content: center;
}
.info {
  display: flex;
  justify-content: space-between;
}
